__pycache__
.ropeproject
build
.cache
.clangd
.pytest_cache
compile_commands.json
python/ggems/ggems.cp313-win_amd64.ilk
python/ggems/ggems.cp313-win_amd64.pyd
python/ggems/ggems.pdb
tree.txt
docs/Doxygen/html
docs/Doxygen/xml
