__pycache__
.ropeproject
build
.venv
.cache
.pytest_cache
compile_commands.json
python/ggems/*.ilk
python/ggems/*.so
python/ggems/*.pyd
python/ggems/*.pdb
python/ggems/*.lib
python/ggems/*.exp
tree.txt
docs/Doxygen/html
docs/Doxygen/xml

# -----------------------------------
# GGEMS scientific validation artefacts
# -----------------------------------

validation/random/streams/
validation/random/results/
