.DS_Store
__pycache__
.ropeproject
build
.venv
.cache
.pytest_cache
python/ggems/*.ilk
python/ggems/*.so
python/ggems/*.pyd
python/ggems/*.pdb
python/ggems/*.lib
python/ggems/*.exp
python/ggems/ggems
python/ggems/Release

# -----------------------------------
# GGEMS scientific validation artifacts
# -----------------------------------

validation/random/streams/
validation/random/results/

validation/source/results/
